.no-padding {
  padding-left: 0;
  padding-right: 0; }

h2 {
  font-size: 34px;
  font-family: "Oswald", sans-serif; }

h3 {
  font-size: 26px;
  font-family: "Oswald", sans-serif; }

p {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: lighter; }

header {
  padding: 15px 0;
  background-color: #fbfbfd; }
  header .logo {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: #454545;
    display: inline-block;
    float: left; }
    @media only screen and (max-width: 480px) {
      header .logo {
        font-size: 30px; } }
  header .for-site {
    width: 260px;
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 15px;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    color: #454545;
    font-size: 18px;
    border-left: solid 2px #bababc;
    display: inline-block;
    float: left; }
    @media only screen and (max-width: 480px) {
      header .for-site {
        width: 160px;
        font-size: 13px; } }

.banner {
  background: url("../images/header-bg.png") center/cover;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding-bottom: 115px; }
  .banner h1 {
    font-size: 84px;
    margin-top: 85px; }
    @media only screen and (max-width: 786px) {
      .banner h1 {
        margin-top: 50px; } }
  .banner h2 {
    font-size: 40px;
    margin-bottom: 40px; }
  .banner p {
    font-size: 22px; }
    @media only screen and (max-width: 480px) {
      .banner p {
        margin-bottom: 50px; } }
  .banner form {
    width: 100%;
    background-color: #12b0cd;
    padding: 25px; }
    .banner form h3 {
      margin-bottom: 20px;
      font-size: 24px; }
    .banner form input {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
      color: #454545;
      padding-left: 10px;
      font-family: "Open Sans"; }
    .banner form label {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px; }
    .banner form button {
      width: 100%;
      height: 50px;
      background-color: #ff8511;
      border: none;
      margin-top: 20px;
      font-size: 24px;
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5); }

.advantages {
  background-color: #fbfbfd;
  padding: 65px 0; }
  .advantages h3 {
    color: #454545; }
  .advantages p {
    font-size: 16px;
    color: #454545; }
    @media only screen and (max-width: 768px) {
      .advantages p {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 480px) {
      .advantages p {
        margin-bottom: 20px; } }

.description {
  padding: 95px 0;
  font-family: "Oswald", sans-serif; }
  .description h2 {
    color: #454545;
    margin-top: 0;
    margin-bottom: 25px; }
  .description p {
    font-family: "Open Sans";
    color: #454545; }
    @media only screen and (max-width: 768px) {
      .description p {
        margin-bottom: 50px; } }
  .description .video-box {
    padding: 10px 55px;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .description .video-box {
        padding: 0; } }
    .description .video-box video {
      width: 100%;
      background: linear-gradient(to right, #e5e5e5, #e7e7e7, #e5e5e5);
      margin-bottom: 30px; }
    .description .video-box p {
      color: #454545;
      font-style: italic; }

.minisections {
  background: linear-gradient(to right, #12b0cd 50%, #fbfbfd 50%);
  color: #ffffff;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .minisections {
      background: none; } }
  .minisections h3 {
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 0; }
  .minisections .bg-1 {
    background: #12b0cd;
    padding-top: 25px;
    padding-bottom: 45px;
    height: 280px; }
  .minisections .bg-2 {
    background: url("../images/bg-2_03.png") center/cover;
    position: relative;
    height: 100%;
    min-height: 280px;
    overflow: hidden;
    padding: 0; }
    .minisections .bg-2:after {
      content: '';
      position: absolute;
      top: 125px;
      border: 15px solid transparent;
      border-left: 15px solid #12b0cd; }
    @media only screen and (max-width: 480px) {
      .minisections .bg-2:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border: 15px solid transparent;
        border-top: 15px solid #12b0cd;
        margin-left: -7.5px; } }
  .minisections .bg-3 {
    background: #31899a;
    height: 280px;
    padding-top: 25px; }
  .minisections .bg-4 {
    background: url("../images/bg-4_03.png") center/cover;
    position: relative;
    height: 280px;
    overflow: hidden;
    padding: 0; }
    .minisections .bg-4:after {
      content: '';
      position: absolute;
      top: 125px;
      border: 15px solid transparent;
      border-left: 15px solid #31899a; }
    @media only screen and (max-width: 768px) {
      .minisections .bg-4:after {
        content: '';
        position: absolute;
        top: 125px;
        right: 0;
        border: 15px solid transparent;
        border-right: 15px solid #31899a; } }
    @media only screen and (max-width: 480px) {
      .minisections .bg-4:after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border: 15px solid transparent;
        border-top: 15px solid #31899a;
        margin-right: -15px; } }
  .minisections img {
    width: 100%;
    height: auto; }

.minisections-2 {
  background: linear-gradient(to right, #fbfbfd 50%, #73d4e6 50%);
  color: #ffffff; }
  @media only screen and (max-width: 1024px) {
    .minisections-2 {
      background: none; } }
  .minisections-2 h3 {
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 0; }
  .minisections-2 img {
    width: 100%;
    height: auto;
    max-height: 100%; }
  .minisections-2 .bg-1 {
    background: #2fbac6;
    height: 280px;
    padding-top: 25px; }
  .minisections-2 .bg-2 {
    background: url("../images/bg-3_03.png") center/cover;
    height: 280px;
    position: relative;
    overflow: hidden; }
    .minisections-2 .bg-2:after {
      content: '';
      position: absolute;
      top: 125px;
      right: 0;
      border: 15px solid transparent;
      border-right: 15px solid #2fbac6; }
    @media only screen and (max-width: 768px) {
      .minisections-2 .bg-2:after {
        content: '';
        position: absolute;
        top: 125px;
        left: 0;
        border: 15px solid transparent;
        border-left: 15px solid #2fbac6; } }
    @media only screen and (max-width: 480px) {
      .minisections-2 .bg-2:after {
        content: '';
        top: 0;
        right: 100%;
        left: 50%;
        border: 15px solid transparent;
        border-top: 15px solid #2fbac6;
        margin-left: -7.5px; } }
  .minisections-2 .bg-3 {
    background: #73d4e6;
    height: 280px;
    padding-top: 25px; }
  .minisections-2 .bg-4 {
    background: url("../images/bg-5_03.png") center/cover;
    position: relative;
    height: 280px;
    overflow: hidden; }
    .minisections-2 .bg-4:after {
      content: '';
      position: absolute;
      top: 125px;
      right: 0;
      border: 15px solid transparent;
      border-right: 15px solid #73d4e6; }
    @media only screen and (max-width: 480px) {
      .minisections-2 .bg-4:after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border: 15px solid transparent;
        border-top: 15px solid #73d4e6;
        margin-right: -7.5px; } }

.steps {
  padding-top: 100px;
  padding-bottom: 95px; }
  .steps h2 {
    color: #454545;
    margin-bottom: 80px; }
  .steps .number {
    display: block;
    float: left;
    font-size: 34px;
    font-family: "Oswald", sans-serif;
    color: #454545;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #eeeef6;
    border-right: 2px solid #2fbac6;
    margin-bottom: 30px; }
  .steps h3 {
    display: block;
    float: left;
    width: 240px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 15px; }
    @media only screen and (max-width: 1024px) {
      .steps h3 {
        width: 120px;
        line-height: 20px;
        font-size: 20px;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 480px) {
      .steps h3 {
        width: 240px;
        line-height: 30px;
        font-size: 26px; } }
    @media only screen and (max-width: 320px) {
      .steps h3 {
        width: 200px;
        font-size: 20px; } }
  @media only screen and (max-width: 480px) {
    .steps P {
      margin-bottom: 45px; } }

.social {
  background: url("../images/social-bg_02.png") center/cover;
  padding-top: 100px;
  padding-bottom: 10px;
  color: #ffffff; }
  .social h2 {
    margin-bottom: 40px; }
  .social p {
    margin-bottom: 80px; }
  .social .fab {
    font-family: FontAwesome;
    font-size: 30px;
    font-style: normal;
    margin-left: 5px; }
  .social .fa-twitter-square {
    margin-left: 10px; }

footer {
  background-color: #292929;
  padding: 30px 0; }
  footer p {
    font-size: 14px;
    color: #ffffff; }

.scrollup {
  color: #0f0f0f;
  opacity: 0.3;
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: none; }
  .scrollup .fa-arrow-circle-up {
    font-family: FontAwesome;
    font-size: 70px;
    font-style: normal; }

/*# sourceMappingURL=style.css.map */
